.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  flex-basis: 20%;
  background-color: white;
  border: 1px solid #f7f7f7;

  &__image img {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
  }
  &__info {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin: 10px 0;
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
  }

  &__offer {
    position: absolute;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 0.6px;
    background-color: #006eff;
    color: #fff;
    padding: 4px 10px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 900px) {
  .product {
    flex: 0 25%;
  }
}
@media screen and (max-width: 600px) {
  .product {
    flex: 0 50%;
  }
}
